/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}
* {
    font-family: 'Roboto', sans-serif;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   iconmoon
   ========================================================================== */


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-to922');
    src:url('../fonts/icomoon.eot?#iefix-to922') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-to922') format('woff'),
        url('../fonts/icomoon.ttf?-to922') format('truetype'),
        url('../fonts/icomoon.svg?-to922#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e670";
}
.icon-heart:before {
    content: "\e6d1";
}
.icon-heart2:before {
    content: "\e6d2";
}
.icon-search:before {
    content: "\e600";
}


/* ==========================================================================
   Responsive Breakpoints
   ========================================================================== */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set the width of the grid */
.frame {
  margin: 0 auto;
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both;
}


/* Attribute selector */
[class*='bit-'] {
  float: left;
  padding: 0.3em;
}

/* Floats last ".bit-" to the right */
[class*='bit-']:last-of-type {
  float: right;
}

/* Main Widths */
.bit-1  { width: 100%; }
.bit-2  { width: 50%; }
.bit-3  { width: 33.33%; }
.bit-4  { width: 25%; }
.bit-5  { width: 20%; }
.bit-6  { width: 16.6666666667%; }
.bit-7  { width: 14.2857142857%; }
.bit-8  { width: 12.5%; }
.bit-9  { width: 11.1111111111%; }
.bit-10 { width: 10%; }
.bit-11 { width: 9.09090909091%; }
.bit-12 { width: 8.33%; }

/* Landscape mobile & down */
@media (max-width: 30em) {
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-5,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 100%;
  }
  body .register-container {
    width: 100%;
  }
  .body-container-mycribhunt .search-container {
    margin: 0;
    width: 100%;
  }
  .body-container-mycribhunt .toolbar {
    width: 70%;
    float: right;
    display: block;
    right: 0;
    position: absolute;
  }
  .main-menu .search-container {
    width: 50%;
    float: right;
    margin: 0;
  }
  .main-menu #cribhunt-searchfield {
    width: 80%;
  }
  .main-menu #cribsearch {
    padding: 0;
  }
  .main-menu .toolbar {
    display: none;
  }
  .main-menu #cribsearch-submit {
    width: 20%;
  }
  .site-wrap #parameter-search {
    width: 100%;
  }
  .site-wrap .canvas-cribhunt {
    width: 100%;
  }
  .site-wrap #canvas-cribmap {
    display: none;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%;
  }
  body .register-container {
    width: 70%;
  }
  .main-menu .search-container {
    width: 50%;
    float: right;
    margin: 0;
  }
  .main-menu #cribhunt-searchfield {
    width: 80%;
  }
  .main-menu #cribsearch {
    padding: 0;
  }
  .main-menu .toolbar {
    display: none;
  }
  .main-menu #cribsearch-submit {
    width: 20%;
  }
  .site-wrap #parameter-search {
    width: 100%;
  }
  .site-wrap .canvas-cribhunt {
    width: 100%;
  }
  .site-wrap #canvas-cribmap {
    display: none;
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .bit-2,
  .bit-7 {
    width: 100%;
  }


  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }
  body .register-container {
    width: 50%;
  }
}


.uploader
{
  border: 2px solid #03A9F4;
  width: 100%;
  color: #03A9F4;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
  margin-bottom: 10px;
  font-size: 200%;

  cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uploader div.or {
  font-size: 50%;
  font-weight: bold;
  color: #C0C0C0;
  padding: 10px;
}

.uploader div.browser label {
  background-color: #5a7bc2;
  padding: 5px 15px;
  color: white;
  padding: 6px 0px;
  font-size: 40%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 300px;
  margin: 20px auto 0px auto;

  box-shadow: 2px 2px 2px #888888;
}

.uploader div.browser span {
  cursor: pointer;
}


.uploader div.browser input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: .0;
  filter: alpha(opacity= 0);
  -o-transform: translate(250px,-50px) scale(1);
  -moz-transform: translate(-300px,0) scale(4);
  direction: ltr;
  cursor: pointer;
}

.uploader div.browser label:hover {
  background-color: #427fed;
}

/* Main Styles */
#demo-nav {
  background: url(images/dark-bg.png);
  min-height: 40px;
}

#demo-nav a {
  /*color: #aaa;*/
  font-weight: bold;
  
  font-size: 12px;
  
  padding: 10px 15px;
}

#demo-nav a.home {
  color: #FFBF00;
  font-size: 16px;
  padding-left: 0px;
}

.demo-wrapper {
  margin-top:40px;
}

.demo-columns {
  margin-top: 35px;
  margin-bottom: 15px
}

.demo-note{
  color:gray;
  font-style: italic;
}

.demo-footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Debug console */
.demo-panel-debug {
  min-height: 90px;
  max-height: 90px;
  overflow: auto;
  cursor: default;
}

.demo-panel-debug ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type:none;
}

.demo-panel-debug ul li,
.demo-panel-debug ul li.demo-default {
  color: gray;
}

.demo-panel-debug ul li.demo-error {
  color: #990000;
}

.demo-panel-debug ul li.demo-success {
  color: #009900;
}

.demo-panel-debug ul li.demo-info {
  color: #000099;
}

/* D&D Demo */
.demo-panel-files {
  max-height: 290px;
  min-height: 290px;
  overflow: auto;
  cursor: default;
}

.demo-file-id {
  font-weight: bold;
}

.demo-file-size{
  font-style: italic;
  color: gray;
  font-size: 90%;
}

.demo-file-status,
.demo-file-status-default{
  color: gray;
}

.demo-file-status-error{
  color: #990000;
}

.demo-file-status-success{
  color: #009900;
}

.demo-image-preview {
  float:left;
  margin-right: 10px;
  margin-top: 4px;
  height: 56px;
  width: 56px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}
body {
    width: 100%;
    height: 100%;
}

.body-container {
    width: 100%;
    height: 100%;
    background-image: url('../img/heroimages/fourteen.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.main-menu {
  background-color: #00B0FF;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  position: absolute;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  border-bottom: 2px solid #0277BD;
  z-index: 999;
}
.canvas-cribhunt {
  width: 70%;
  height: 68%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 225px;
  float: left;
  background-color: #fff;
  overflow: scroll;
  overflow-x:hidden;
}
#canvas-mycribhunt {
  height: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#site-wrap-agregarcrib {
  width: 70%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50px;
  float: left;
  background-color: #fff;
  overflow: scroll;
  overflow-x: hidden;
}
#canvas-cribmap {
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  bottom: 0px;
  padding-top: 50px;
  overflow: hidden;
}
#cribmap-container {
 height: 100%; margin: 0; padding: 0;
}
.logo-container {
    width: 100px;
    height: 50px;
    margin-left: 60px;
    display: block;
    float: left;
}
.registro-logo-container {
    width: 100%;
    height: 15%;
    display: block;
    background-color: #00B0FF;
}
.registro-logo-container img {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    margin: auto auto;
}
.logo-container img {
  width: 120px;
  height: 50px;
}
.bienvenido {
    text-align: center;
    color: #7f8c8d;
    font-weight: 300;
    padding-top: 1em;
}
.bienvenido h2 {
    padding-top: 1.5em;
}
.register-container {
    background-color: #fff;
    width: 30%;
    height: auto;
    position: fixed;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 10 2px 5px 0 rgba(0,0,0,.26);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    display: inline-block;
    zoom:1;
    width: 50%;
    float: left;
    *display:inline;
    color: #fff;
    background-color: #03A9F4;
    border-bottom: none;
    text-align: center;
}
.tab a {
    font-size: 18px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
}
.tab a:hover {
    text-decoration: none;
}
.tab.active {
    background: #0288D1;
    position: relative;
}

.navigation {
    list-style: none;
    background: #0288D1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.site-wrap {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    box-shadow: 0 5px 0 0 rgba(0,0,0,0.26);
}
.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    fill: #fff;
}
label[for="nav-trigger"] {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}
label[for="nav-trigger"] {
    /* ... previous styles here... */
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../img/ui/hamburger.svg");
    background-size: contain;
    z-index: 2000;
}
 
.nav-trigger:checked ~ .site-wrap {
    left: 300px;
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
} 
body {
    overflow-x: hidden;
}
.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}
.terminos-condiciones {
    width: 100%;
    display: block;
    float: left;
}
.resultado {
    color: #e74c3c;
    padding-top: 5px;
    width: 100%;
    display: block;
    float: left;
}
.forma-registroinicio {
    display: block;
    width: 100%;
    padding: 1em;
}
.forma-registroinicio {
    width: inherit;
    height: inherit;
    display: block;
    margin-top: 0;
}
.forma-registroinicio input {
    font-size: 16px;
    width: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    color: #2c3e50;
    line-height: 20px;
}
.register-container .forma-registroinicio .boton-registroinicio {
    background-color: #0288D1;
    border: none;
    color: #fff;
}
.register-container .forma-registroinicio .boton-registroinicio:hover {
    background-color: #0277BD;
}
.register-container .forma-registroinicio .boton-registroinicio:disabled {
    background-color: #81D4FA;
}
.olvidaste-password {
    margin-top: 10px;
    color: #2c3e50;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}
.forma-registroinicio .acepto {
    width: initial;
    float: left;
    margin-top: 10px;
}
.heleido {
    color: #01579B;
    float: left;
    margin: 5px;
}
.link-terminos {
    text-decoration: underline;
}
.search-container {
    width: 400px;
    height: 50px;
    float: left;
    padding: 10px;
    position: relative;
    margin-left: 30px;
}
#cribsearch {
    width: 100%;
    height: 30px;
    display: block;
    float: left;
    padding-right: 10px;
}
#cribhunt-searchfield {
    width: 90%;
    height: 30px;
    padding: 7px;
    float: left;
    border: none;
    font-size: 18px;
    color: #0288D1;
    font-weight: 300;
}
#cribsearch-submit {
    font-family: 'icomoon';
    width: 10%;
    background-color: #039BE5;
    color: #fff;
    font-size: 18px;
    padding: 6px;
    border: none;
    float: left;
    cursor: pointer;
}
#cribsearch-submit:hover {
  background-color: #0288D1;
}
.toolbar {
    width: 25%;
    float: right;
    display: block;
}
.usuario-bienvenido {
    color: #fff;
    width: 80%;
    height: 50px;
    float: left;
}
.holausuario {
  float: right;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 15px;
  font-weight: 300;
}
.perfil-container {
    width: 20%;
    float: right;
    height: 50px;
}
.perfil-container img {
    width: 100%;
    height: 50px;
    padding: 10px;
}
.perfil-usuario {
  margin: 75px;
  margin-top: 70px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.profilepic-user {
  background-image: url('../img/users/axelcureno/profile.png');
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
.perfil-usuario img {
  width: 150px;
  height: 150px;
}
.nav-item {
  border-top: 2px solid #0277BD;
  border-bottom: none;
  padding: 12px;
  color: #fff;
}
.last-nav-item {
  border-bottom: 2px solid #0277BD;
}
.nav-item:hover {
  background-color: #0277BD;
}
.menu-de-usuario {
  display: block;
  width: 300px;
}
.hello-usuario {
  margin: 10px 10px 10px 0px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  width: 150px;
}
.que-deseas {
  display: block;
  width: 300px;
  text-align: center;
  color: #fff;
  padding: 20px 30px 10px 20px;
}
.crib-container {
  width: 100%;
  height: inherit;
}
.crib-image {
  width: 100%;
  height: auto;
}
.crib-image img {
  width: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.descripcion-crib {
  background-color: #039BE5;
}
.crib-image .precio-crib {
  float: right;
  padding: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  margin-top:-50px;
  position: relative;
  text-shadow: 0 0 20px rgba(0,0,0,1.5);
}
.crib-container {
  padding: 5px;
}
.descripcion-crib .titulo-crib {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}
#crib-grid-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#slider-precio-cribsearch {
  width: 50%;
}
#amount {
  display: block;
  float: right;
  color: #f6931f;
  font-weight: bold;
  margin-left: 0;
  width: 40%;
  border:0;
}
#parameter-search {
  width: 70%;
  height: 25%;
  margin: 0;
  position: absolute;
  display: block;
  top: 50px;
  float: left;
  background-color: #fff;
  font-weight: 300;
  box-shadow: 0 2px 0px rgba(0,0,0,0.26);
  z-index: 1;
}
#parameter-search .linea-parameter-search {
  width: 100%;
  display: block;
  height: auto;
  padding: 13px;
  display: inline-block;
  border-bottom: 1px solid #B3E5FC;
}
#parameter-search .no-border-bottom-linea {
  border-bottom: none;
}
.linea-parameter-search label {
  color: #01579B;
  font-size: 16px;
  display: inline-block;
}
.linea-parameter-search input {
  display: inline-block;
  width: 400px;
  border: 1px solid #29B6F6;
  margin-left: 10px;
  font-size: 16px;
  color: #01579B;
  padding: 3px;
}
.linea-parameter-search select {
  margin-left: 10px;
  font-size: 18px;
}
.linea-parameter-search #slider-precio-cribsearch {
  display: inline-block;
  margin-left: 10px;
}
.no-border-bottom-linea #submit-parameter-cribsearch {
  width: initial;
  background-color: #03A9F4;
  color: #fff;
  padding: 10px;
  border-bottom: 3px solid #0277BD;
  float: right;
  margin-top: -6px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.canvas-cribhunt-agregar {
  padding: 10px;
}
.descripcion-agregar {
  width: 100%;
  color: #0277BD;
  font-weight: 500;
  font-size: 24px;
}
.publicar-container {
  width: 100%;
}
.publicar-container .titulo {
  background-color: #03A9F4;
  padding: 10px;
  color: #fff;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
