/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}
* {
    font-family: 'Roboto', sans-serif;
}

@keyframes materialResponse {
  0% { 
    width: 0;
    height: 0;
    margin: 0;
    background: rgba(255,255,255,0.1);
  }
  100% { 
    width: 250%;
    height: 250%;
    margin: -125%;
    background: rgba(255,255,255,0.4);
  }
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #3F51B5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #3F51B5;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #3F51B5;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #3F51B5;
}
#cribhunt-searchfield::-webkit-input-placeholder {
    color: #FFF;
}
#cribhunt-searchfield:-moz-placeholder {
    color: #FFF;

}
#cribhunt-searchfield::-moz-placeholder {
    color: #FFF;

}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   iconmoon
   ========================================================================== */


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-to922');
    src:url('../fonts/icomoon.eot?#iefix-to922') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-to922') format('woff'),
        url('../fonts/icomoon.ttf?-to922') format('truetype'),
        url('../fonts/icomoon.svg?-to922#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e670";
}
.icon-heart:before {
    content: "\e6d1";
}
.icon-heart2:before {
    content: "\e6d2";
}
.icon-search:before {
    content: "\e600";
}


/* ==========================================================================
   Responsive Breakpoints
   ========================================================================== */

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set the width of the grid */
.frame {
  margin: 0 auto;
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both;
}


/* Attribute selector */
[class*='bit-'] {
  float: left;
  padding: 0.3em;
}

/* Floats last ".bit-" to the right */
[class*='bit-']:last-of-type {
  float: right;
}

/* Main Widths */
.bit-1  { width: 100%; }
.bit-2  { width: 50%; }
.bit-3  { width: 33.33%; }
.bit-4  { width: 25%; }
.bit-5  { width: 20%; }
.bit-6  { width: 16.6666666667%; }
.bit-7  { width: 14.2857142857%; }
.bit-8  { width: 12.5%; }
.bit-9  { width: 11.1111111111%; }
.bit-10 { width: 10%; }
.bit-11 { width: 9.09090909091%; }
.bit-12 { width: 8.33%; }

/* Landscape mobile & down */
@media (max-width: 30em) {
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-4,
  .bit-5,
  .bit-6,
  .bit-7,
  .bit-8,
  .bit-9,
  .bit-10,
  .bit-11,
  .bit-12 {
    width: 50%;
  }
  #parameter-search .parameter-cribsearch #slider-precio-cribsearch {
    width: 30%;
  }
  #parameter-search  #slider-precio-cribsearch {
  width: 40%;
  }
  #parameter-search .linea-parameter-search #cribsearch-places {
    display: inline-block;
    width: 330px;
  }
  #parameter-search .no-border-bottom-linea #submit-parameter-cribsearch {
    top: 80px;
  }
  .main-menu .logo-container img {
    width: 100px;
    height: 50px;
  }
  #parameter-search #amount {
    display: block;
    float: right;
    color: #f6931f;
    font-weight: bold;
    margin-left: 0;
    width: 35%;
    border: 0!important;
    margin-top: -5px;
  }
  body .register-container {
    width: 100%;
  }
  .body-container-mycribhunt .search-container {
    margin: 0;
    width: 100%;
  }
  .body-container-mycribhunt .toolbar {
    width: 70%;
    float: right;
    display: block;
    right: 0;
    position: absolute;
  }
  .main-menu .search-container {
    width: 50%;
    float: right;
    margin: 0;
  }
  .main-menu #cribhunt-searchfield {
    width: 80%;
  }
  .main-menu #cribsearch {
    padding: 0;
  }
  .main-menu .toolbar {
    display: none;
  }
  .main-menu #cribsearch-submit {
    width: 20%;
  }
  .site-wrap #parameter-search {
    width: 100%;
    height: 175px;
  }
  .site-wrap .canvas-cribhunt {
    width: 100%;
  }
  .site-wrap #canvas-cribmap {
    display: none;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%;
  }
  body .register-container {
    width: 70%;
  }
  .main-menu .search-container {
    width: 50%;
    float: right;
    margin: 0;
  }
  .main-menu #cribhunt-searchfield {
    width: 80%;
  }
  .main-menu #cribsearch {
    padding: 0;
  }
  .main-menu .toolbar {
    display: none;
  }
  .main-menu #cribsearch-submit {
    width: 20%;
  }
  .site-wrap #parameter-search {
    width: 100%;
  }
  .site-wrap .canvas-cribhunt {
    width: 100%;
  }
  .site-wrap #canvas-cribmap {
    display: none;
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 68.750em) {
  .bit-2,
  .bit-7 {
    width: 100%;
  }


  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%;
  }
  body .register-container {
    width: 50%;
  }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}
body {
    width: 100%;
    height: 100%;
}

.body-container {
    width: 100%;
    height: 100%;
    background-image: url('../img/heroimages/fourteen.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.main-menu {
  background-color: #FF5722;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  position: absolute;
  width: 100%;
  height: 64px;
  margin: 0;
  padding: 6px;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.canvas-cribhunt {
  width: 70%;
  height: 74%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 155px;
  float: left;
  overflow: scroll;
  overflow-x: hidden;
}
.titulo-miscribs {
  background-color: #039BE5;
  width: 100%;
  color: #fff;
  padding: 10px;
  font-size: 24px;
  margin: 10px;
}
.canvas-cribhunt-miscribs {
  width: 70%;
  height: 91%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 64px;
  float: left;
  background-color: #fff;
  overflow: scroll;
  overflow-x: hidden;
}
.linea-prop-crib {
  width: 100%;
  padding: 10px;
}
.titulo-crib {
  font-size: 24px;
  color: #0288D1;
  padding: 10px;
  font-weight: bold;
}
.imagen-principal-crib {
  width: 100%;
  padding: 10px;
}
.imagen-principal-crib img {
  width: 100%;
}
.titulo-prop-crib {
  color: #0288D1;
  font-size: 18px;
  font-weight: bold;

}
.elemento-crib {
  color: #0288D1;
  font-size: 16px;
  font-weight: 300;
}
.elemento-crib ul li {
  margin-left: 20px;
}
#canvas-mycribhunt {
  height: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}
#canvas-mycribhunt .bit-4 {
  padding: 5px;
}
#site-wrap-agregarcrib {
  width: 70%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  float: left;
  background-color: #fff;
}
#canvas-cribmap {
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  top: 0px;
  padding-top: 0;
  overflow: hidden;
  z-index: 998;
}
#canvas-cribmap-add {
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  position: absolute;
  background-color: #fff;
  /* top: 64px; */
  padding-top: 0;
  overflow: hidden;
  z-index: 998;
}
#cribmap-container {
 height: 100%; margin: 0; padding: 0;
}
#somecomponent {
 height: 100%; margin: 0; padding: 0;
}
.logo-container {
    width: 100px;
    height: 50px;
    margin-left: 0;
    display: block;
    float: left;
}
.registro-logo-container {
    width: 100%;
    height: 15%;
    display: block;
    background-color: #00B0FF;
}
.registro-logo-container img {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    margin: auto auto;
}
.logo-container img {
  width: 120px;
  height: 50px;
}
.bienvenido {
    text-align: center;
    color: #7f8c8d;
    font-weight: 300;
    padding-top: 1em;
}
.bienvenido h2 {
    padding-top: 1.5em;
}
.register-container {
    background-color: #fff;
    width: 30%;
    height: auto;
    position: fixed;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 10 2px 5px 0 rgba(0,0,0,.26);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.etabs {
    margin: 0;
    padding: 0;
}
.tab {
    display: inline-block;
    zoom:1;
    width: 50%;
    float: left;
    *display:inline;
    color: #fff;
    background-color: #03A9F4;
    border-bottom: none;
    text-align: center;
}
.tab a {
    font-size: 18px;
    line-height: 2em;
    display: block;
    padding: 0 10px;
    outline: none;
}
.tab a:hover {
    text-decoration: none;
}
.tab.active {
    background: #0288D1;
    position: relative;
}

.navigation {
    list-style: none;
    background: #3F51B5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.site-wrap {
/* min-width: 100%; */
/* min-height: 100%; */
  width: 100%;
  height:90.5%;
  overflow: hidden;
  background-color: #EEE;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 63px;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
}

.site-wrap-add {
/* min-width: 100%; */
/* min-height: 100%; */
  width: 100%;
  height:90.5%;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 63px;
  left: 0;
  z-index: 1;
  box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    fill: #fff;
}
label[for="nav-trigger"] {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
}
label[for="nav-trigger"] {
    /* ... previous styles here... */
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("../img/ui/hamburger.svg");
    background-size: contain;
    z-index: 2000;
}
 
.nav-trigger:checked ~ .site-wrap {
    left: 300px;
}
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
} 
body {
    overflow-x: hidden;
}
.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
}
.terminos-condiciones {
    width: 100%;
    display: block;
    float: left;
}
.resultado {
    color: #e74c3c;
    padding-top: 5px;
    width: 100%;
    display: block;
    float: left;
}
.forma-registroinicio {
    display: block;
    width: 100%;
    padding: 1em;
}
.forma-registroinicio {
    width: inherit;
    height: inherit;
    display: block;
    margin-top: 0;
}
.forma-registroinicio input {
    font-size: 16px;
    width: 100%;
    margin-top: 0.5em;
    padding: 0.5em;
    color: #2c3e50;
    line-height: 20px;
}
.register-container .forma-registroinicio .boton-registroinicio {
    background-color: #0288D1;
    border: none;
    color: #fff;
}
.register-container .forma-registroinicio .boton-registroinicio:hover {
    background-color: #0277BD;
}
.register-container .forma-registroinicio .boton-registroinicio:disabled {
    background-color: #81D4FA;
}
.container-agregar-crib {
  padding:5px; }
.olvidaste-password {
    margin-top: 10px;
    color: #2c3e50;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
}
.forma-registroinicio .acepto {
    width: initial;
    float: left;
    margin-top: 10px;
}
.heleido {
    color: #01579B;
    float: left;
    margin: 5px;
}
.link-terminos {
    text-decoration: underline;
}
.search-container {
    width: 400px;
    height: 50px;
    float: left;
    padding: 10px;
    position: relative;
    margin-left: 30px;
}
#cribsearch {
    width: 100%;
    height: 30px;
    display: block;
    float: left;
    padding-right: 10px;
}
#cribhunt-searchfield {
    background: #FF5722;
    width: 90%;
    height: 30px;
    padding: 7px;
    float: left;
    border: none;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #fff;
}
#cribsearch-submit {
    background-image: url('../img/icons/search_icon.svg');
    width: 10%;
    background-color: #FF5722;
    color: #fff;
    font-size: 18px;
    padding: 6px;
    border: none;
    float: left;
    cursor: pointer;
    background-size: 100%;
}
#cribsearch-submit:hover {
  background-color: #FF5722;
}
.toolbar {
    width: 25%;
    float: right;
    display: block;
}
.usuario-bienvenido {
    color: #fff;
    width: 80%;
    height: 50px;
    float: left;
}
.holausuario {
  float: right;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 15px;
  font-weight: 300;
}
.perfil-container {
    width: 20%;
    float: right;
    height: 50px;
}
.perfil-container img {
    width: 100%;
    height: 50px;
    padding: 10px;
}
.perfil-usuario {
  margin: 75px;
  margin-top: 70px;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}
.profilepic-user {
  background-image: url('../img/users/axelcureno/profile.png');
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
}
.perfil-usuario img {
  width: 150px;
  height: 150px;
}
.nav-item {
  padding: 12px;
  color: #fff;
}
.nav-item:hover {
  background-color: #283593;
}
.menu-de-usuario {
  display: block;
  width: 300px;
}
.hello-usuario {
  margin: 10px 10px 10px 0px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  width: 150px;
}
.que-deseas {
  display: block;
  width: 300px;
  text-align: center;
  color: #fff;
  padding: 20px 30px 10px 20px;
}
.crib-container {
  width: 100%;
  height: inherit;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26); */
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
  transition: all .2s ease-in-out;
}

.crib-container:hover {
  transform: scale(1.010);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.crib-image {
  width: 100%;
  height: auto;
}
.crib-image img {
  width: 100%;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
    border-radius: 2px 2px 0px 0px;
}
.descripcion-crib {
  background-color: #fff;
  color: #222;
  padding: 10px 10px 10px 10px;
  border-radius: 0px 0px 2px 2px;
}
.crib-image .precio-crib {
  float: right;
  padding: 10px;
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  margin-top:-50px;
  position: relative;
  text-shadow: 0 0 20px rgba(0,0,0,1.5);
}
.descripcion-crib .titulo-crib {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}
#crib-grid-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
#slider-precio-cribsearch {
  width: 50%;
}
#amount {
  display: block;
  float: right;
  color: #f6931f;
  font-weight: bold;
  margin-left: 0;
  width: 37%;
  border:0!important;
}
#parameter-search {
  width: 70%;
  height: 164px;
  margin: 0;
  position: absolute;
  display: block;
  top: 0px;
  float: left;
  background-color: #3F51B5;
  font-weight: 300;
  z-index: 1;
}
#parameter-search .linea-parameter-search {
  width: 100%;
  display: block;
  height: auto;
  padding: 13px;
  display: inline-block;
}
#parameter-search .no-border-bottom-linea {
  border-bottom: none;
}
.linea-parameter-search label {
  color: #fff;;
  font-size: 16px;
  display: inline-block;
}
.linea-parameter-search input {
  display: inline-block;
  width: 400px;
  border-bottom: 1px solid #FFFFFF;
  margin-left: 10px;
  font-size: 16px;
  color: #FFFFFF;
  padding: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #3F51B5;
}
.linea-parameter-search select {
  margin-left: 10px;
  font-size: 18px;
}
.linea-parameter-search #slider-precio-cribsearch {
  display: inline-block;
  margin-left: 10px;
}
.no-border-bottom-linea #submit-parameter-cribsearch {
  background-image: url('../img/icons/search_icon.svg');
  background-size: 60%;
  background-color: #FF5722;
  color: #fff;
  padding: 10px;
  float: right;
  margin-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  right: 20px;
  margin-right: 15px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.26);
  border-radius: 32px;
  font-size: 30px;
  height: 65px;
  width: 65px;
  padding-top: 14px;
  top: 130px;
  transition: all .2s ease-in-out;
  border: none;
  background-repeat: no-repeat;
  background-position: 13px 14px;
}

.no-border-bottom-linea #submit-parameter-cribsearch:active {
  /*animation: materialResponse 0.4s ease;*/
  z-index: 2;
}
.no-border-bottom-linea #submit-parameter-cribsearch:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

#parameter-cribsearch .linea-parameter-search .ui-widget-content {
border: none;
background: #ffffff;
height: 2px;
}

#parameter-cribsearch .linea-parameter-search .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: none;
background: #e6e6e6;
font-weight: normal;
color: #555555;
}
#parameter-cribsearch .linea-parameter-search .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 10px;
  margin-top: -6px;
}
#parameter-cribsearch .ui-widget-header {
  border: none!important;
  background: #E91E63;
  color: #222222;
}
.canvas-cribhunt-agregar {
  width: 100%;
  height: 100%;
  display: block;
  overflow: scroll;
  overflow-x: hidden;
}
.canvas-cribhunt-lista {
  width: 100%;
  height: 93%;
  padding: 0;
  margin: 0;
  position: absolute;
  float: left;
  background-color: #fff;
  overflow: scroll;
  overflow-x: hidden;
}
.descripcion-agregar {
  width: 100%;
  color: #0277BD;
  font-weight: 500;
  font-size: 24px;
}
.publicar-container {
  width: 100%;
}
.canvas-cribhunt-agregar .titulo {
  background-color: #03A9F4;
  padding: 10px;
  color: #fff;
}
#agregarcribform {
  width: 100%;
  padding: 10px;
  padding-left: 0;
}
#agregarcribform input {
  width: 100%;
  display: block;
  margin: 10px;
  padding: 5px;
  float: left;
  font-size: 18px;
  display: inline-block;
  border-bottom: 1px solid #29B6F6;
  margin-left: 10px;
  font-size: 16px;
  color: #01579B;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

#agregarcribform input[type="submit"], #agregarcribform input[type="reset"] {
  border: 2px solid #29B6F6;
  background: transparent;
  border-radius: 2px;
  color: #29B6F6;
}
.como-funciona {
  color: #0277BD;
}
#agregarcribform label {
  width: 50%;
  display: block;
} 
#agregarcribform textarea {
  width: 100%;
  display: block;
  margin: 10px;
  padding: 5px;
  float: left;
  font-size: 16px;
}
#agregarsubmitcrib {
  width: initial;
  background-color: #03A9F4;
  color: #fff;
  padding: 10px;
  border-bottom: 3px solid #0277BD;
  float: right;
  margin-top: -6px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}
.imagen-perfil-admin {
  padding: 10px;
  padding-top: 0;
}
#agregarsubmitcrib:hover {
  background-color: #039BE5;
}
#form-profile {
  color: #0288D1;
}
#form-profile input {
  width: 90%;
  margin:10px;
  font-size: 18px;
  padding: 10px;
  color: #0288D1;
}
#form-profile .bit-2 {
  padding-top: 20px;
}
#form-profile label {
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  margin-top: 10px;
}
#form-profile .actualizarperfil {
  width: 90%;
  background-color: #03A9F4;
  color: #fff;
  border-bottom: 3px solid #0277BD;
  border: none;
}

.form-uploadcrib {
  margin: 10px;
  width: 600px;
}

.container-agregar-crib .container {
  width: 100%;
}
.form-upload-container {
  padding: 10px;
}
form-uploadcrib .label-form {
  color: #fff;
  font-size: 16px;
  display: inline-block;
}
.form-uploadcrib input {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #000;
  margin-left: 0px;
  font-size: 16px;
  color: #000;
  padding: 3px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.form-upload-container #map-canvas {
  width: 500px;
  height: 300px;
  margin: 0px;
  padding: 0px;
}

.latlong-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
